body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #fff;
}


form {
    background: linear-gradient(90deg, #1E3A5F 0%, #293749 60%, #333333 100%);
    padding: 70px 50px;
    border-radius: 35px 35px 75px 35px;
}

form img {
    max-width: 300px;
    height: 150px;
    object-fit: cover;
    border-radius: 35px 35px 75px 35px;
}

.inputs-container {
    margin-right: 35px;
}


.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


label {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
}

input {
    border-radius: 15px;
    outline: none;
    border: 1px solid #333;
    padding: 5px;
    font-size: 16px;
    text-indent: 5px;

}

button {
    background-color: #E49E2D;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 14px;
    padding: 10px;
    width: 120px;
    letter-spacing: 2px;
    margin-top: 20px;
}


@media screen and (max-width: 768px) {
    form {
        flex-direction: column;
        align-items: center;
        padding: 40px 25px;
        width: 75%;
        border-radius: 35px 35px 85px 35px;
    }


    button {
        width: 100%;
    }

    .inputs-container {
        margin: 0;
    }

    form img {
        margin-top: 20px;
        width: 90%;
        object-fit: fill;
    }

}